.container {
  display: grid;
  grid-template-columns: 310px 490px 260px;
  grid-template-rows: auto;
  grid-template-areas: "l c r";
  gap: 30px;
  .left {
    display: flex;
    flex-direction: column;
    .item-left {
      display: flex;
      border-bottom: 1px solid lightgrey;
      padding: 15px 0;
      margin-bottom: 10px;
      img {
        height: 80px;
        min-width: 120px;
        object-fit: cover;
        overflow: hidden;
        outline: none;
        border: none;
        margin: 0 10px;
      }
    }
  }
  .item-centre {
    display: flex;
    height: 500px;
    flex-direction: column;
    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      overflow: hidden;
      outline: none;
      border: none;
      margin-bottom: 10px;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    .item-right {
      height: 220px;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      img {
        height: 170px;
        object-fit: cover;
        overflow: hidden;
        outline: none;
        border: none;
        margin-bottom: 10px;
      }
    }
  }
}
